.container1 {
    background-color: #cbf2ff40;
    margin: 1px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cont1R1,.cont1R2,.cont1R3>h1{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.cont1R3 {
    display: grid;
    justify-content: center;
    align-items: center;
}

.cont1R1 {
    border-left: 10px solid #cbf2ff40;
    border-right: 10px solid #cbf2ff40;
    /* margin-left: 350px; */
    /* width: max-content; */
    padding: 2em;
    font-size: 20px;
    font-family: cursive;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    box-shadow: 3px 3px red, -1em 0 0.4em olive;
    display: flex;
    justify-content: center;
    align-items: center;
}

.attraction{
    display:flex;
}

.attraction1, .attraction2 {
    background-color: aqua;
    margin: 20px;
    /* padding: 15px; */
    box-shadow: 12px 12px 2px 1px rgb(0 0 255 / 20%);
}

.attraction1>figcaption>h1, .attraction2>figcaption>h1{
    background-color: blanchedalmond;
    padding: 8px 25px;
    background: #ff5722;
    color: #fff;
    display: inline-block;
    position:relative;
    top: 20px;
    left: -30px;
    border-radius: 0 25px 25px 0;
    box-shadow: 1px 5px 5px #d2d2d2;
}


.figprice{
    display:flex;
    justify-content: space-around;
    align-items: center;   
}

.figprice>button{
    height:fit-content;
    padding:5px;
}

.figprice>button>a{
    text-decoration: none;
    
}



@media only screen and (max-width:600px){

    .container1{
        display:grid;
        justify-content: center;
        align-items: center;
        margin:1px;
        padding:0px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .cont1R1 {
        border-left: 10px solid #cbf2ff40;
        border-right: 10px solid #cbf2ff40;
        /* margin-left: 0px; */
        /* display: grid; */
        /* justify-content: center; */
        /* align-items: center; */
        /* margin: 30px; */
        /* width: 60vw; */
        /* padding: 1em; */
        /* font-size: 20px; */
        /* font-family: cursive; */
        text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
        box-shadow: 3px 3px red, -1em 0 0.4em olive;
    }
    .cont1R2{
        padding:20px;
        text-align: justify;
    }

    .attraction {
        display: flex;
        flex-direction: column;
        /* width: 100vw; */
    }
    .attraction2{
        display:none;
    }
       
    .attraction1, .attraction2 {
        background-color: aqua;
        margin: 0px;
        padding: 0px;
        box-shadow: 12px 12px 2px 1px rgb(0 0 255 / 20%);
        /* width: 80vw; */
        margin-bottom: 20px;
        /* margin-left: 10px; */
        /* padding: 10px; */
    }
    .attraction1>div>img {
        /* width: 38vw; */
        /* object-fit: cover; */
    }
    
    .attraction1>figcaption>h1, .attraction2>figcaption>h1{
        background-color: blanchedalmond;
        padding: 8px 25px;
        background: #ff5722;
        color: #fff;
        display: inline-block;
        position:relative;
        top: 20px;
        left: -30px;
        border-radius: 0 25px 25px 0;
        box-shadow: 1px 5px 5px #d2d2d2;
    }

}

@media only screen and (min-width:600px) and (max-width:989px){
    .cont1R1 {
        border-left: 10px solid #cbf2ff40;
        border-right: 10px solid #cbf2ff40;
        /* margin-left: 11px; */
        /* width: auto; */
    }
    .attraction2{
        display:none;
    }
    .attraction1>div>img {
        /* width: 38vw; */
        /* object-fit: cover; */
    }

}

@media only screen and (min-width:990px) and (max-width:1400px){
    .cont1R1 {
        border-left: 10px solid #cbf2ff40;
        border-right: 10px solid #cbf2ff40;
        margin-left: 73px;
    }

    .attraction {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .attraction1>div>img,.attraction2>div>img {
        width: -webkit-fill-available;
    }
    .attraction1{
        padding: 0px;
    }
}