
a{
    text-decoration: none;
}
.tabContainer{
    padding:50px;
}

.cont2R1{ /*first row of the paragraph*/
    display:flex;
    justify-content: center;
    align-items: center;
}
.bloc-tabs{ /*for different tabs to apply css in tab block row*/
    margin:0px;
}

.tabs{
  height:50px;
  border:none;
  width:100px;
  background-color: transparent;
}

.active-tabs{
    border-top:5px solid yellow;
    color:gold;
    font-size:larger;
    font-weight: bolder;
}
/*for tab*/
.content {
    background: white;
    display: none;
    padding-left:0em;
  }

.active-content {
    display:flex;
    gap:20px;
    padding:20px;
    text-align: justify;
  }
.active-content:nth-child(2){
    padding-left:0em;
}

