
a{
    text-decoration: none;
}
.tabContainer{
    padding:50px;
    width:100vw;
}

.cont2R1{ /*first row of the paragraph*/
    display:flex;
    justify-content: center;
    align-items: center;
}
.bloc-tabs{ /*for different tabs to apply css in tab block row*/
    margin:0px;
}

.tabs{
  height:50px;
  border:none;
  width:100px;
  background-color:rgba(255, 255, 0, 0.404);
  color:rgb(17, 17, 13);
    font-size:medium;
    margin-left:2px;

}

.active-tabs{
    border-top:5px solid yellow;
    border-bottom:5px solid yellow;
    color:rgb(17, 17, 13);
    font-size:larger;
    font-weight: bolder;
    
}
/*for tab*/
.content {
    background: white;
    display: none;
  }

.active-content {
    display:flex;
    gap:20px;
    padding:20px;
    text-align: justify;
    width:80vw;
  }


@media only screen and (max-width:500px){
    .tabContainer{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:0px;
        padding-bottom:40px;
        width:100vw;
    }
    .active-content {
        display:grid;
        text-align: justify;
        width:100vw;
      }
    .active-content img{
        width:100vw;
    }
    .active-content>div{
        padding:20px;
    }
      
    img{
        width:100vw;
        height:100%;
        object-fit:cover;
    }
    .bloc-tabs{ /*for different tabs to apply css in tab block row*/
        display:flex;
        justify-content: center;
        width: 100vw;
    }
    
    .tabs{
        height:50px;
        border:none;
        width:4em;
        background-color:rgba(255, 255, 0, 0.404);
      }
      

}