
a{
    text-decoration: none;
}
.tabContainer {
    background-image: url("./images/bottomViewBuiding.jpg");
    object-fit: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0px;
    /* padding: 20px; */
    width: 100vw;
    height: auto;
    display: grid;
    justify-content: center;
    /* align-items: center; */
    align-content: space-around;
    /* height: fit-content; */
    padding-bottom: 20px;
}
.cont2R1{ /*first row of the paragraph*/
    display:flex;
    justify-content: center;
    align-items: center;
}
.bloc-tabs{ /*for different tabs to apply css in tab block row*/
    margin:0px;
}

.tabs{
  height:50px;
  border:none;
  width:100px;
  background-color:rgba(255, 255, 0, 0.404);
  color:rgb(17, 17, 13);
    font-size:medium;
    margin-left:2px;

}

.active-tabs{
    border-top:5px solid yellow;
    border-bottom:5px solid yellow;
    color:rgb(17, 17, 13);
    font-size:larger;
    font-weight: bolder;
    
}
/*for tab*/
.content {
    background: white;
    display: none;
  }

.active-content {
    display:flex;
    gap:20px;
    text-align: justify;
    width:80vw;
  }
.active-content img{
    width:50%;
    height:auto;
}


@media only screen and (max-width:600px){
    .tabContainer{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:0px;
        padding-bottom:40px;
        width:100vw;
    }
    .active-content {
        display:grid;
        text-align: justify;
        width:100vw;
      }
    
    .active-content>div{
        padding:20px;
    }
      
    .active-content>img {
        width: 100vw;
        /* height: 100%; */
        object-fit: cover;
        object-position: center;
    }
    .bloc-tabs{ /*for different tabs to apply css in tab block row*/
        display:flex;
        justify-content: center;
        width: 100vw;
    }
    
    .tabs{
        height:50px;
        border:none;
        width:4em;
        background-color:rgba(255, 255, 0, 0.404);
      }
      

}

@media only screen and (min-width:600px) and (max-width:989px){
    .active-content {
        display: grid
    }
    .active-content img{
        width:100%;
        height:auto;
    }
    
    .tabContainer {
        /* position: absolute; */
        /* left: 302px; */
        /* transform: translate3d(-50%, -43.9681px, 0px); */
        /* transform-style: preserve-3d; */
        /* backface-visibility: hidden; */
        /* width: 100vw; */
        /* filter: none; */
        /* height: 1184px; */
    }
    .react-parallax-content{
        padding: -8px;
        display: grid;
        justify-content: center;
        align-items: center;
    }

}

@media only screen and (min-width:990px) and (max-width:1400px){
    .active-content {
        display: grid;
        gap: 20px;
        padding: 20px;
        text-align: justify;
        width: 80vw;
    }

    .tabContainer {
        /* position: absolute; */
        /* left: 50%; */
        /* transform: translate3d(-50%, -8.66106px, 0px); */
        /* transform-style: preserve-3d; */
        /* backface-visibility: hidden; */
        /* height: auto; */
        /* width: 890.2px; */
        /* filter: none; */
    }
    .active-content img{
        width:100%;
        height:auto;
    }
}