.footer{
    display:flex;
    justify-content: space-between;
    font-size: 20px;
    align-items: center;
    background-color: #F8D3CF;
    color:#000000;
}

.footer1>ul{
    display:flex;
    color:#000000;
    font-size: 20px;

}

.footer1>ul>li{
    padding:5px;
    list-style: none;
    color:#000000;
    font-size: 20px;

}

@media only screen and (max-width:400px){

    .footer{
        display:flex;
        flex-direction:column-reverse;
        justify-content: space-evenly;
        font-size: 20px;
        align-items: center;
        background-color: #F8D3CF;
        color:#000000;
    }
}