.mainContainer{
    background-image:url("./images/montreal.jpg");
    object-fit: cover;
    background-position: center;
    background-attachment: fixed;
    margin:0px;
    padding-bottom:20px;
    width:100vw;
}

.hUl{
    list-style:none;
    display:flex;
}

.hUl>li{
    padding:5px;
}

.logo{
    font-size: 50px;
    margin:0px;
    padding-left:20px;
}

.headerR2{
    display:flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
    color:yellowgreen;
    margin-bottom: 100px;
    background-color: rgba(137, 43, 226, 0.704);
    height:480px;
    width:100vw;

}
.part1{
    margin:0;
    padding:0;
    width:400px;
}
/*.part1>div>img{
    display:flex;
    height: 240px;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 5px;
    z-index:5;
    width: -webkit-fill-available;
}*/

.mainContainer.headerR2.part1>div>img,.mainContainer.headerR2.part1>div>img {
    display:block;
    height:auto;
    min-height:100%;
    left:50%;
    position:relative;
    top:50%;
    transform:translate(-50%,-50%);
    width:auto;
    min-width:100%;
  }
.part2{
    /*width:20%;*/
    
}
.part3{
    width:30%;
    padding:20px;
    color:black;
    background-color: rgba(0, 255, 255, 0.753);
    
}

.button2 {
    position: relative;
    right: -79px;
    right: 5px;
    background-color: chartreuse;
    border-radius: 5px;
    height: 40px;
}

.button1 {
    padding: 10px;
    position: relative;
    background-color: rgba(210, 223, 196, 0.868);
    border-radius: 5px;
    height: -moz-fit-content;
    height: fit-content;
    margin-left: 3px;
}



@media only screen and (max-width:600px){
    .part2,.part1{
        display:none;
        width:30%;
    }

    .headerR2{
        display: grid;
        padding-top:150px;
        
    }
    .part3{
        width:100vw; 
        margin-top:150px; 
    }
    .headerR2{
        display:flex;
        padding:0px;
        justify-content: space-between;
        color:yellowgreen;
        margin-bottom: 100px;
        background-color: rgba(137, 43, 226, 0.704);
        height:none;
        outline: 5px blueviolet;
        width:100vw;
    
    }
    .mainContainer{
        background-image:url("./images/blueStreet.jpg");
        background-attachment: fixed;
        margin:0px;
        padding-bottom:20px;
        width:100vw;
    }

    .button2 {
        position: relative;
        right: -79px;
        right: 5px;
        background-color: chartreuse;
        border-radius: 5px;
        height: 40px;
    }
    
    .button1 {
        padding: 10px;
        position: relative;
        background-color: rgba(210, 223, 196, 0.868);
        border-radius: 5px;
        height: -moz-fit-content;
        height: fit-content;
        margin-left: 3px;
    }

}

@media only screen and (min-width:600px) and (max-width:989px){

    .button1 {
        padding: 10px;
        position: relative;
        background-color: rgba(210, 223, 196, 0.868);
        border-radius: 5px;
        height: -moz-fit-content;
        height: fit-content;
        margin-left: -14px;
    }
    .part2 {
        width: 3rem;
        display: none;
    }

}

@media only screen and (min-width:990px) and (max-width:1400px){
    .part3 {
    width: 200%;
    padding: 0px;
    color: black;
    background-color: rgba(0, 255, 255, 0.753);
    }

    .headerR2 {
        display: grid;
        justify-content: space-around;
        padding-top: 50px;
        padding-bottom: 50px;
        color: yellowgreen;
        margin-bottom: 100px;
        background-color: rgba(137, 43, 226, 0.704);
        height: fit-content;
        width: 100vw;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}