.navBar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:#212529;
    color:white;
    font-weight:50em;
    position:sticky;
    top:0;
    margin-bottom:20px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 1.4em;
    width:100vw;
}
.symbol{
    font-size: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    color:white;
    animation: rotate 2s duration timing-function delay iteration-count direction fill-mode;
}

.navBar.active{
    background-color:#8ac60b;
    position:sticky,fixed;
    top:0;
    right:0;
    left:0;
    z-index: 999999;
    padding-left:20px;
    padding-right:20px;
    font-size: 1.4em;
}

.navList{
  display:flex;
  background-color:transparent;
  text-transform: uppercase;
}
.nav-item{
  padding:5px;
  font-size:13px;
}
.nav-link{
  text-decoration: none;
  color:white;
  background-color: transparent;
  padding:5px;
  border:1px solid rgb(215, 19, 19);
  border-radius: 5px;
  
}

.symbol:hover {
    animation-name: rotate;
    animation-duration: 0.7s;
    animation-direction: reverse;
  }
.menu,
.eject{
  display:none;
}
  
  @keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @media only screen and (max-width:400px){
    .navBar{
      display:block;
      position:absolute;
      top:0px;
      left:0px;
      
      padding:0px;
    }
    .menu{
      position:fixed;
      display:flex;
      top:0px;
      right:0px;
      justify-content: center;
      align-items:center;
      cursor:pointer;
      background-color: transparent;
      border-color:none;
      z-index: 999999999999;
      
    }
    .navList{
        display:none;
        
                
    }
    
    .nav-item{
      margin:10px;
      padding:10px;
    }
    #hidden{
      display:block;
      position:absolute;
      left:0px;
      right:0px;
      top:0px;
      height:100vh;
      width:100vw;
      background-color: rgb(67, 67, 69);
      transition:2s;
      transform: translateY(0vh);
      
      display:grid;
      justify-content: center;
      align-items:center;
      gap:2px;
      
    }
  }