body {
  margin: 0;
  font-family: "nunito sans",-apple-system, "Roboto" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

colgroup{
  color:#292929, #616161, #FFFFFF,#CDE9D6, #D2E4FD, #FFF1CB,
   #F8D3CF,  #A7AC38, #FFFFFF, #C4A53E, #BD9C74 ;
}